@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="sampleheadingtext">
    <span class="sampletitle">Data Binding</span>
</div>
@section ControlsSection{
    <h5><strong>This sample demonstrates,  how the result of the HBase can be bound to a grid for viewing</strong></h5>
    <div style="color: red; padding-top: 3px; padding-bottom: 10px">@MVCSampleBrowser.Controllers.IntroductionController.ErrorMessage</div>

    @(Html.EJ().Grid<MVCSampleBrowser.Models.Customers>("FlatGrid")
        .Datasource((List<Customers>)ViewBag.datasource)
            .AllowSorting()
            .AllowScrolling()
            .ScrollSettings(scroll => { scroll.AllowVirtualScrolling().Height(300).Width(930).VirtualScrollMode(VirtualScrollMode.Normal); })
        .Columns(col =>
        {
            col.Field("ContactId").HeaderText("ContactId").TextAlign(TextAlign.Center).Width(150).Add();
            col.Field("FullName").HeaderText("info:FullName").TextAlign(TextAlign.Center).Width(150).Add();
            col.Field("Age").HeaderText("info:Age").TextAlign(TextAlign.Center).Width(150).Add();
            col.Field("EmailId").HeaderText("contact:EmailId").TextAlign(TextAlign.Center).Width(220).Add();
            col.Field("PhoneNumber").HeaderText("contact:PhoneNumer").TextAlign(TextAlign.Center).Width(150).Add();
            col.Field("ModifiedDate").HeaderText("others:ModifiedDate").TextAlign(TextAlign.Center).Width(150).Add();           
        }))

}
@section ScriptSection{
    <script type="text/javascript">
        window.onresize = function () {
            if ($("#VirtualScrolling .e-gridcontent").data("ejScroller"))
                $("#VirtualScrolling .e-gridcontent").ejScroller("refresh");
        };
        $("#VirtualScrolling").ejGrid("option", { "scrollSettings": { "virtualScrollMode": "normal" } });

        $("#sampleProperties").ejPropertiesPanel();
    </script>
}