<title></title>
<link href="~/Content/ej/default-theme/ej.widgets.all.css" rel="stylesheet" />
<link href="~/Content/ej/ej.widgets.core.min.css" rel="stylesheet" />
<script src="~/Scripts/xregexp.js"></script>
<script src="~/Scripts/shCore.js"></script>
<script src="~/Scripts/shBrushCSharp.js"></script>
<script src="~/Scripts/shBrushPerl.js"></script>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

